.blue_letter {
  color: blue;
  font-family: "Arial Black";
  text-align: center;
}

.red_letter {
  color: red;
  font-family: "Arial Black";
  text-align: center;
}

.style_letter {
  margin: 0px 10px;
  text-align: center;
}

.style_letter u_1 {
  color: #90FF33;
}

.style_letter strong {
  color: red;
}

.style_letter b {
  font-family: "Arial Black"
}

.strong_1 {
  font-weight: bold;
  color: blue;
}

.b_2 {
  font-weight: bold;
  color: red;

}

.Marca {
  color: yellow;
}

.As {
  color: purple;
}

.pink_table {
  display: flex;
  background-color: pink;
  width: 480px;
  height: 50px;
  align-items: center;
  list-style: none;
  cursor: pointer;
  gap: 30px;
}

a {
  color: white;
}

.pink_table a_1 {
  padding: 05px 10px;
  background-color: blue;
  margin: 0px 10px;
  border: 0.1px solid black;
  color: #fff;

}

.end_table{
  margin: 25px 100px 10px 10px;
  background-color: yellow;
  
  
}
.end_table thead tr th{
    color: red;
    
}
