.style_letter {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.style_letter u_1 {
  color: #90FF33;
}

.style_letter strong {
  color: red;
}

.style_letter b {
  font-family: "Arial Black"
}

strong_1 {
  font-weight: bold;
  color: blue;
}

b_2 {
  font-weight: bold;
  color: red;

}

s {
  text-decoration: underline overline;
}